@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
:root {
  --brightYellow: #e3b505;
  --darkBrown: #bb9457;
  --yellow: rgb(242, 180, 80);
  --brown: #382923;
  --black: #000;
  --grey: #a9b2ac;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lemonada";
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/back.jpg");
  background-size: cover;
  color: var(--darkBrown);
}
/* Preloader */
.preLoader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
  z-index: 888;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* Header */
.header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header {
    background: url("../img/headBack.webp") center/cover fixed;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
  }
}
.banner {
  text-align: center;
  z-index: 3;
}
.banner_title {
  font-size: 3rem;
}
@media screen and (min-width: 600px) {
  .banner_title {
    font-size: 4rem;
  }
}
.banner_social-icon {
  display: block;
  text-decoration: none;
  color: var(--brown);
  border: 0.1rem solid var(--black);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 0.4s linear;
}
.banner_social-icon:hover {
  background: var(--brightYellow);
  color: var(--brown);
}
.banner_icons {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-column-gap: 0.5rem;
  justify-content: center;
}

/* video */
.video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* NavBtn */
.navBtn {
  /* position: fixed; */
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 3.5rem;
  color: var(--darkBrown);
  cursor: pointer;
  animation-name: beat;
  animation-duration: 2s;
  animation-iteration-count: 5;
}
/* animation for nav */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* nav */
.nav {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;

  background: rgba(255, 180, 80, 0.9);
  z-index: 3;
  margin-right: 88%;
}
.nav_links {
  list-style-type: none;
}
.nav_single_link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--brown);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
/* .nav_single_link:hover {
  background: #05ff7e;
  padding-left: 1rem;
} */
/* nav */
.nav {
  width: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.nav--show {
  width: 10rem;
}

/* Video Btn */
.videoBtn-Container {
  display: none;
}
@media screen and (min-width: 600px) {
  .videoBtn-Container {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
  }
  .videoBtn {
    position: relative;
    width: 5rem;
    background: var(--yellow);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .videoBtn_switch {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--brown);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
  }
  .btnSlide{
    left:50%
  }
}
